/*.list {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.item {
    margin-right: 10px;
    margin-bottom: 10px;
}*/

  /* Styles for the list container */
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  padding: 8px;
  background-color: #f0f0f0; /* A soft, neutral background color */
  border-radius: 4px;
}

/* Styles for each item within the list */
.item {
  flex: 1 1; /*calc(50% - 90px); /* Responsive layout for 2 items per row */
  width: 171px;
  max-width: 171px; /* Ensures items do not exceed image width */
  transition: transform 0.2s, box-shadow 0.2s;
}



.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}


  

