/*.button {
padding: 10px 15px;
background: var(--tg-theme-button-color);
color: var(--tg-theme-button-text-color);
border: none;
outline: none;
cursor: pointer;
}*/




.add-btn {
  background-color: #3498db;
  color: #F4A99D;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.add-btn:hover {
  background-color: #2980b9;
}



  
  