*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body{
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}*/

body {
    font-family: 'Montserrat', sans-serif; /* Modern and clean font */
    background-color: #f8f9fa; /* Light, neutral background */
    margin: 0;
    padding: 0;
    color: #333; /* Text color */
  }

  /* Telegram and Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .header-logo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .header-telegram {
    background-color: #0088cc;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .header-telegram:hover {
    background-color: #006fa1;
  }
  
  